/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h1 {
		font-family: "Lato", Helvetica, Arial, sans-serif;
		font-size: 30px;
		font-weight: 100;
		margin: 50px auto 25px;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
	}
	#video-overlay h2 {
		font-family: "Lato", Helvetica, Arial, sans-serif;
		font-size: 10px;
		font-weight:130;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.text-wrapper {
		width: 720px;
	}
}

/* Large desktop */
@media (min-width: 980px) { 
	.text-wrapper {
		width: 800px;
	}
}